<style>
  :root {
    --background-color: #fff !important;
    --heading-color: #222 !important;
    --text-color: #444 !important;
    --link-color: #3273dc !important;
    --visited-color: #8b6fcb !important;
    --blockquote-color: #222 !important;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #fff !important;
      --heading-color: #222 !important;
      --text-color: #444 !important;
      --link-color: #3273dc !important;
      --visited-color: #8b6fcb !important;
      --blockquote-color: #222 !important;
    }
  }
</style>
